/* styles.css */
.custom-scroll {
  overflow-y: auto;
  max-height: 90vh; 
}
/* Scroll notification */
.custom-scroll-notification {
  overflow-y: auto; 
  max-height: 90vh;
}
.expand-left:hover {
  width: 250px; /* Chiều rộng của nút khi hover */
  border-radius: 0.375rem; /* Góc bo tròn khi mở rộng */
}

.custom-modal .ant-modal-content {
  max-height: 70vh; /* Chiều cao tối đa là 80% chiều cao viewport */
  overflow-y: auto; /* Tự động thêm thanh cuộn nếu nội dung vượt quá chiều cao */
}

.custom-modal .ant-modal {
  top: 10px; /* Điều chỉnh vị trí từ trên */
}
/* loading  */
.loading {
  font-size: 40;
  color: #0083ec;
  margin-top: 20px;
}

.loading-overlay {
  position: absolute;
  top: 0px; /* Tùy chỉnh để nằm dưới phần thead */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* -----------Ant design---------- */
/* .ant-row.ant-form-item-row.css-dev-only-do-not-override-1c0na6j {
  width: 100% !important;
} */
.ant-col.ant-form-item-label.ant-col-xs-24.ant-col-sm-8 {
  white-space: nowrap !important;
}
.ant-col.ant-form-item-control.ant-col-xs-24.ant-col-sm-16 {
  max-width: 100% !important;
}
/* .ant-form-item-control-input-content {
  flex: none !important;
} */
.ant-menu-submenu-title:active {
  background-color: #000 !important;
}
.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #000 !important;
}
.ant-select-selector {
  border-radius: 0% !important;
}
.ant-table-cell.row_content {
  text-align: center !important;
}
.ant-table-cell.row_content_right {
  text-align: right !important;
}
.change-pass-form .ant-form-item {
  margin-bottom: 15px !important;
}

.ant-table-placeholder {
  height: 500px;
}
.custom-scrollbar {
  -ms-overflow-style: none ;  /* IE and Edge */
  scrollbar-width: none;
}

Tùy chỉnh thanh cuộn
::-webkit-scrollbar {
  width: 15px !important; /* Chiều rộng của thanh cuộn dọc */
  height: 15px !important; /* Chiều cao của thanh cuộn ngang */
}

/* Track của thanh cuộn (background) */
::-webkit-scrollbar-track {
  background-color: #f2f2f2 !important;
}

/* Phần thumb của thanh cuộn (thanh cuộn) */
::-webkit-scrollbar-thumb {
  background-color: #969495 !important;
  border-radius: 20px !important;
  border: 2.5px solid #f2f2f2 !important;
  cursor: pointer !important;
}

/* Hover trên thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background-color: #969495 !important;
  border-color: #f2f2f2 !important;
}
:where(.css-dev-only-do-not-override-1c0na6j).ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}
/*  */

/* Overview custom tab */
.ant-tabs-tab-btn {
  padding: 0 15px;
  font-weight: 500;
}
.ant-tabs-tab {
  margin-left: 0 !important;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-light {
  color: #000 !important;
}

.menu-transition {
  /* transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 0s;
  transition-property: width; */
  transition: 0.5s;
}
.menu-transition-2 {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 0s;
  transition-property: width;
}

i {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: -2px !important;
}

.recharts-legend-item {
  margin-top: 10px !important;
}

.ant-form-item {
  margin-bottom: 10px !important;
}
.ant-input-number {
  width: 100%;
}
/* .ant-input-number-input {
  text-align: end !important;
  padding-right: 30px !important;
} */
/* .ant-form-item {
  font-weight: 600 !important;
} */
:where(.css-dev-only-do-not-override-1c0na6j).ant-upload-wrapper .ant-upload-select {
display:  inline !important;
}
:where(.css-dev-only-do-not-override-1c0na6j).ant-btn {
  border-radius: 0px !important;
}

/* .ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  height: 300px;
} */
:where(.css-dev-only-do-not-override-1c0na6j).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label>label {
  font-weight: 600;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
  height: 340px;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
  height: 340px;
}


